/* --- WIDTHS --- */
/* --- MEDIA QUERIES--- */
/*  --- COLORS --- */
/* $text-brown: #444;
$text-active-gray: #c7c7c7;
$footer-gray: #f1f1f1;
 */
/*---------FONTS----------------------*/
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

/* -------TAGS-------------------------- */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'OpenSans';
  font-size: 29px;
  line-height: 52px;
  background-color: #fff; }

@media (min-width: 1180px) {
  body {
    font-size: 18px;
    line-height: 32px; } }

/*a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}*/
h1, h2, h3, h4,
p, dl, dt, dd,
ul, li {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  text-align: center; }

button,
button:hover,
button:active {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: inherit;
  border: none;
  outline: none; }

input,
input:hover,
input:active,
select,
select:hover,
select:active {
  outline: none; }

.hidden {
  display: none; }

.btn {
  display: inline-block;
  padding: 30px 90px;
  border: 1px solid black; }

@media (min-width: 1180px) {
  .btn {
    padding: 15px 48px; } }

.page-wrapper {
  position: relative;
  width: 750px;
  margin: 0 auto; }

@media (min-width: 1180px) {
  .page-wrapper {
    width: 1280px; } }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

.intro {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

.intro__header {
  margin-bottom: 20px;
  font-size: 90px;
  line-height: 92px;
  color: #4d5c66; }

.intro__text {
  font-size: 29px;
  line-height: 52px;
  color: #323d43; }

.intro__text-pic {
  dispaly: inline-block;
  vertical-align: baseline; }

@media (min-width: 1180px) {
  .intro {
    margin-left: 250px;
    margin-right: 250px; }
  .intro__header {
    font-size: 44px;
    line-height: 60px; }
  .intro__text {
    font-size: 18px;
    line-height: 32px; } }

.promo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 419px;
  background: url("../img/promo_bg_mobile@1x.jpg"); }

.promo__header {
  text-align: center;
  font-size: 95px;
  line-height: 140px;
  font-weight: 200;
  color: #fff; }

@media (min-width: 1180px) {
  .promo {
    min-height: 699px;
    background: url("../img/promo_bg@1x.jpg"); }
  .promo__header {
    font-size: 80px;
    line-height: 60px; } }

.map {
  min-height: 350px; }

.map__definition {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 29px;
  line-height: 52px;
  color: #323d43; }

.map__definition-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 92px;
  color: #4d5c66; }

.map__popup-pic {
  width: 499px;
  height: 269px; }

.map__definition-term {
  text-align: left;
  font-weight: bold; }

.map__definition-descr {
  text-align: left;
  padding-left: 50px; }

.map__definition-term {
  color: #8ca3aa; }

.map__definition-term--red {
  color: #d41c1f; }

@media (min-width: 1180px) {
  .map__definition {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 18px;
    line-height: 32px; }
  .map__definition-header {
    font-size: 36px;
    line-height: 50px; }
  .map__popup-pic {
    width: 230px;
    height: 265px; }
  .map__popup-definition {
    width: 55%;
    margin-right: auto; } }

.schedule {
  margin-top: 250px;
  margin-left: 40px;
  margin-right: 40px; }

.schedule__header {
  margin-bottom: 100px;
  font-size: 90px;
  line-height: 92px;
  color: #4d5c66; }

.schedule__post {
  width: 563px;
  margin: 0 auto;
  padding-bottom: 85px;
  background-color: #f9f9f9; }

.schedule__img {
  width: 563px;
  height: 232px; }

.schedule__text {
  margin: 80px 90px 85px 75px;
  font-size: 29px;
  line-height: 52px;
  color: #323d43; }

@media (min-width: 1180px) {
  .schedule {
    margin-left: 250px;
    margin-right: 250px; }
  .schedule__header {
    font-size: 44px;
    line-height: 60px; }
  .schedule__post {
    width: 100%; }
  .schedule__img {
    /*width: 760px;
    height: 313px;*/
    margin-left: 75px;
    margin-top: 50px; }
  .schedule__text {
    font-size: 18px;
    line-height: 32px; } }

.blogposts-container {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
  color: #021725; }

.blogposts-container__header {
  font-size: 90px;
  line-height: 92px;
  text-align: center; }

@media (min-width: 1180px) {
  .blogposts-container {
    margin-left: 250px;
    margin-right: 250px; }
  .blogposts-container__header {
    font-size: 44px;
    line-height: 60px; } }

.blogpost {
  margin-top: 105px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.blogpost__img {
  width: 690px;
  height: 630px; }

.blogpost__body {
  padding-top: 20px;
  padding-right: 75px;
  padding-left: 75px;
  padding-bottom: 80px;
  background-color: #f9f9f9; }

.blogpost__date {
  font-size: 28px;
  line-height: 92px;
  text-transform: uppercase; }

.blogpost__header {
  font-size: 45px;
  line-height: 60px; }

.blogpost_text {
  margin-top: 55px;
  font-size: 29px;
  line-height: 47px; }

.blogpost__more {
  margin-top: 100px;
  font-size: 29px;
  line-height: 47px; }

@media (min-width: 1180px) {
  .blogpost {
    -ms-flex-direction: row;
        flex-direction: row;
    margin-top: 55px; }
  .blogpost__img {
    width: 385px;
    height: 390px; }
  .blogpost__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
    padding-right: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
    background-color: #f9f9f9; }
  .blogpost__date {
    font-size: 13px;
    line-height: 60px;
    text-transform: uppercase; }
  .blogpost__header {
    font-size: 30px;
    line-height: 45px; }
  .blogpost_text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 25px; }
  .blogpost__more {
    margin-top: auto;
    font-size: 14px;
    line-height: 32px; } }

.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 48px;
  background: #eee;
  color: #323d43; }

.footer__produced {
  margin-bottom: 10px; }

@media (min-width: 1180px) {
  .footer {
    -ms-flex-direction: row;
        flex-direction: row;
    font-size: 16px;
    line-height: 34px;
    padding-left: 250px;
    padding-right: 250px; }
  .footer__produced {
    text-align: right; } }

/*@import 'blocks/main-nav.scss';
@import 'blocks/breadcrumbs.scss';
@import 'blocks/good.scss';
@import 'blocks/carousel.scss';
@import 'blocks/connections.scss';
*/
