$content-margin: 0 auto;

/* --- WIDTHS --- */
$mobile-width: 480px;

$tablet-width: 768px;

/* --- MEDIA QUERIES--- */
$media-tablet-width: "(min-width: 768px)";

/*  --- COLORS --- */
$olive-light: #70853a;
$olive-dark: #7a853b;
$white: #fff;
$black: #000;
$select-gray: #8e9090;
$main-nav-gray-light: #c0c6a1;
$main-nav-gray-dark: #687134;
$main-nav-active: #e4f7c5;
$main-nav-hover: #88934c;
$main-nav-hover-2nd: #e9f7c6;

/* $text-brown: #444;
$text-active-gray: #c7c7c7;
$footer-gray: #f1f1f1;
 */