$content-margin: 0 auto;

/* --- WIDTHS --- */
$mobile-margin: 30px;
$mobile-width: 750px;

$desktop-margin: 50px;
$desktop-text-margin: 210px;
$desktop-width: 1280px;

/* --- MEDIA QUERIES--- */
$media-desktop-width: '(min-width: 1180px)';

/*  --- COLORS --- */
$promo-header: #fff;
$footer-bg: #eee;

/* $text-brown: #444;
$text-active-gray: #c7c7c7;
$footer-gray: #f1f1f1;
 */