$content-margin: 0 auto;

/* --- WIDTHS --- */
$mobile-margin: 40px;
$mobile-width: 750px;

$desktop-margin: 50px;
$desktop-text-margin: 200px;
$desktop-width: 1280px;

/* --- MEDIA QUERIES--- */
$media-desktop-width: '(min-width: 1180px)';

/*  --- COLORS --- */
$promo-header: #fff;

$intro-header: #4d5c66;
$intro-text: #4d5c66;

$blog-text: #000033; //#021725;
$blog-bg: #f9f9f9;
$blog-date: #cc9900;

$footer-bg: #eee;
$footer-text: #323d43;

/* $text-brown: #444;
$text-active-gray: #c7c7c7;
$footer-gray: #f1f1f1;
 */