/*---------FONTS----------------------*/
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff'),
      url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/*@font-face{
  font-family: 'Cardo';
  //src: url('../fonts/Cardo-Regular.eot');
  src: //url('../fonts/Cardo-Regular.eot?iefix') format('eot'),
  //url('../fonts/Cardo-Regular.woff') format('woff'),
  url('../fonts/Cardo-Regular.ttf') format('truetype');
  //url('../fonts/Cardo-Regular.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/* -------TAGS-------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 29px;
  line-height: 52px;
  background-color: #fff;
}

@media #{$media-desktop-width} {
  body {
    font-size: 18px;
    line-height: 32px;
  }
}
a,
a:hover,
a:active,
a:visited {
  //text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4,
p, dl, dt, dd,
ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  text-align: center;
}

.btn,
button,
button:hover,
button:active {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: inherit;
  border: none;
  outline: none;
}

input,
input:hover,
input:active,
select,
select:hover,
select:active {
  outline: none;
}

.hidden {
  display: none;
}
