/*---------FONTS----------------------*/
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensansbold.woff2') format('woff2'),
  url('../fonts/opensansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
/* -------TAGS-------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'OpenSans', 'Arial', sans-serif;
  background-color: #f9f9f9;
}

/*a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}*/

h1, h2, h3, h4,
p, dl, dt, dd,
ul, li {
  margin: 0;
  padding: 0;
}

button,
button:hover,
button:active {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: inherit;
  border: none;
  outline: none;
}

input,
input:hover,
input:active,
select,
select:hover,
select:active {
  outline: none;
}

.hide {
  display: none;
}
