.blogpost {
  @include  mobile-margins;
  margin-top: 100px;
  margin-bottom:100px;
}

.blogpost__header {
  font-size: 56px;
  line-height: 95px;
  font-weight: bold;
  text-align: left;
}

.blogpost__date{
  margin-top:15px;
  font-size: 27px;
  line-height: 61px;
  font-weight: 200;
  color: $blog-date;
}

.blogpost__text {
  //TODO
  //font-family: 'Cardo', Arial, sans-serif;
  margin-top: 40px;
  font-size: 30px;
  line-height: 47px;
  font-weight: normal;
  color: $blog-text;
}

.blogpost__img {
  display: block;
  margin: 40px auto;

  &--dedus{
    width: 465px;
    height: 260px;
  }

  &--dedus-2 {
    width: 203px;
    height: 248px;
  }

  &--papus {
    width: 369px;
    height: 481px;
  }

  &--stuff {
    width: 480px;
    height: 270px;
  }

  &--end {
    width: 482px;
    height: 227px;
  }
}

.blogpost__home-btn {
  display: block;
  max-width: 450px;
  margin: 50px auto 0 auto;
  text-align: center;
}

@media #{$media-desktop-width} {
  .blogpost {
    @include desktop-text-margins;
  }

  .blogpost__header {
    font-size: 30px;
    line-height: 66px;
  }

  .blogpost__date {
    margin-top: 15px;
    font-size: 15px;
    line-height: 66px;
  }

  .blogpost__text {
    margin-top: 25px;
    font-size: 16px;
    line-height: 25px;
  }

}