.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 48px;
  background: $footer-bg;
  color: $footer-text;
}

.footer__produced {
  margin-bottom: 10px;
}

@media #{$media-desktop-width} {
  .footer {
    flex-direction: row;
    font-size: 16px;
    line-height: 34px;
    padding-left: $desktop-margin + $desktop-text-margin;
    padding-right: $desktop-margin + $desktop-text-margin;
  }

  .footer__produced {
    text-align: right;
  }
}