.intro {
  @include mobile-margins;
  margin-top: 100px;
  margin-bottom:50px;
  text-align: center;
}

.intro__header {
  margin-bottom: 20px;
  font-size: 90px;
  line-height: 92px;
  color: $intro-header;

}

.intro__text {
  font-size: 29px;
  line-height: 52px;
  color: $footer-text;
}

.intro__text-pic {
  dispaly: inline-block;
  vertical-align: baseline;
}

@media #{$media-desktop-width} {
  .intro {
    @include desktop-text-margins;
  }

  .intro__header {
    font-size: 44px;
    line-height: 60px;
  }

  .intro__text {
    font-size: 18px;
    line-height: 32px;
  }
}