.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height:419px;
  background: url("../img/promo_bg_mobile@1x.jpg");
}

.promo__header {
  text-align: center;
  font-size: 95px;
  line-height: 140px;
  font-weight: 200;
  color: $promo-header;
}

@media #{$media-desktop-width} {
  .promo {
    min-height:699px;
    background: url("../img/promo_bg@1x.jpg");
  }

  .promo__header {
    font-size: 80px;
    line-height: 60px;
  }
}
