.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 419px;
  background-image: url("../img/og-back-way.jpg");
  background-size: cover;
  background-position: 50% 0;

  &.promo--blog-fixiks {
    min-height: 512px;
    background-image: url("../img/blog_fixiks_mobile.jpg");
  }

  &.promo--blog-miami {
    min-height: 512px;
    background-image: url("../img/blog_miami_mobile.jpg");
  }
}

.promo__header {
  text-align: center;
  font-size: 95px;
  line-height: 140px;
  font-weight: 200;
  color: $promo-header;
}

@media #{$media-desktop-width} {
  .promo {
    min-height: 699px;
    // background-image: url("../img/promo_bg@1x.jpg");

    &.promo--blog-fixiks {
      min-height: 720px;
      background-image: url("../img/blog_fixiks_desktop.jpg");
    }

    &.promo--blog-miami {
      min-height: 720px;
      background-image: url("../img/blog_miami_desktop.jpg");
    }
  }

  .promo__header {
    font-size: 80px;
    line-height: 60px;
  }
}
