.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 394px;
  background-image: url("../img/promo_bg_mobile_index.jpg");
  background-color: #4a6288;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  &.promo--blog-fixiks {
    min-height: 512px;
    background-image: url("../img/blog_fixiks_mobile.jpg");
  }

  &.promo--blog-miami {
    min-height: 512px;
    background-image: url("../img/blog_miami_mobile.jpg");
    background-position-y: 100%;
  }
}

.promo__header {
  text-align: center;
  font-size: 95px;
  line-height: 140px;
  font-weight: 200;
  color: $promo-header;
}

// @media #{$media-tablet-width} {
//   .promo {
//     min-height: 675px;
//     background-image: url("../img/promo_bg_tablet_index.jpg");
//     background-size: contain;

//     // &.promo--blog-fixiks {
//     //   min-height: 720px;
//     //   background-image: url("../img/blog_fixiks_desktop.jpg");
//     // }

//     // &.promo--blog-miami {
//     //   min-height: 720px;
//     //   background-image: url("../img/blog_miami_desktop.jpg");
//     // }
//   }
// }

@media #{$media-desktop-width} {
  .promo {
    min-height: 675px;
    background-image: url("../img/promo_bg_tablet_index.jpg");

    &.promo--blog-fixiks {
      min-height: 720px;
      background-image: url("../img/blog_fixiks_desktop.jpg");
    }

    &.promo--blog-miami {
      min-height: 720px;
      background-image: url("../img/blog_miami_desktop.jpg");
    }
  }

  .promo__header {
    font-size: 80px;
    line-height: 60px;
  }
}
