.schedule {
  margin-top: 100px;
  @include mobile-margins;
}

.schedule__header {
  margin-bottom: 100px;
  font-size: 90px;
  line-height: 92px;
  color: $intro-header;
}

.schedule__post {
  margin: 0 auto;
  background-color: $blog-bg;
  border-top: 1px solid $blog-bg;
  border-bottom: 1px solid $blog-bg;
}
.schedule__img {
  display: block;
  width: 563px;
  margin: 40px auto;
  height: 232px;
}

.schedule__text {
  margin: 60px 95px 80px 75px;
  font-size: 29px;
  line-height: 52px;
  color: $footer-text;
}

@media #{$media-desktop-width} {
  .schedule {
    @include desktop-text-margins;
  }

  .schedule__header {
    font-size: 44px;
    line-height: 60px;
  }

/*  .schedule__post {
    width: 100%;
  }

  .schedule__img {
    !*width: 760px;
    height: 313px;*!
    margin-left: 75px;
    margin-top: 50px;
  }*/

  .schedule__text {
    font-size: 18px;
    line-height: 32px;
  }
}